process.executor = 'awsbatch'
process.queue = 'arn:aws:batch:us-west-2:378128202216:job-queue/fh-nf-batch-queue'
process.container = '378128202216.dkr.ecr.us-west-2.amazonaws.com/childnode'
process.workdir = "s3://test-nextflow-data/scratch"
process.scratch = '/opt/work'
process.memory = "32GB"
process.cpus = 8
aws.batch.jobRole = "arn:aws:iam::378128202216:role/fh-nf-jd-role"
aws.region = 'us-west-2'
params.awsqueue = 'arn:aws:batch:us-west-2:378128202216:job-queue/fh-nf-batch-queue'
params.awsregion = 'us-west-2'
workDir = "s3://test-nextflow-data/scratch"