params {

    input {
      cds_path = "/home/sravisha/fuser/nextflow/HGMLLDRXX/Preprocess/CDS"
      sample_list = ['008_216_PBMC']
      num_cores = 2
    }
    monocle {
      preprocess {
        numDim = 50
        normMethod = "log"
        reductionMethod = "PCA" 
      }
      reducedims{
        reductionMethod = "UMAP"
        preprocessMethod = "PCA"
      }
      clustercells{
        clusterMethod= "louvain"
        k = 20
        clusterNumber = 20
      }
      alignCDS{
        numDims: 50
        alignmentGroup: "sample"
        preprocessMethod: "PCA"
      }
    }
    output {
      folder = "/home/sravisha/fuser/nextflow/HGMLLDRXX/"
    }
}   