params {

    input {
      cds_path = "/home/sravisha/fuser/nextflow/HGMLLDRXX/Preprocess/CDS"
      sample_list = ['008_216_PBMC']
      num_cores = 2
    }
    monocle {
      preprocess {
        num_dim = [10, 50, 100] 
        norm_method = ["log", "size_only"]
        reduction_method = "PCA" 
      }
      reducedims{
        reduction_method = ["UMAP", "tSNE", "PCA"]
      }
      clustercells{
        clustering_method = ["leiden", "louvain"]
        cluster_number = [10, 20, 30, 40]
      }
    }
    output {
      folder = "/home/sravisha/fuser/nextflow/HGMLLDRXX/"
    }
}   