params {

    input {
      cds_path = "/home/sravisha/fuser/nextflow/HGMLLDRXX/Preprocess/CDS"
      sample_list = ['008_216_PBMC']
      num_cores = 2
    }
    scanpy {
      variable {
        nfeatures = [1000, 2000, 3000]
      }
      pca {
        dims = [10, 50, 100]
      }
      neighbors {
        centers = [10, 20, 30, 40]
        method = ['umap', 'gauss']
      }
      cluster {
        resolution = [0.25, 0.5, 0.8]
      }
    }
    output {
      folder = "/home/sravisha/fuser/nextflow/HGMLLDRXX/"
    }
}   