params {

    input {
      cds_path = "/home/sravisha/fuser/nextflow/HGMLLDRXX/Preprocess/CDS"
      sample_list = ['008_216_PBMC']
      num_cores = 2
    }
    seurat {
      normalizationMethod {
        normalizationMethod": "LogNormalize"
        assay: "NULL"
        scaleFactor: 10000
        margin: 1
        verbose: TRUE
        assayType: "RNA"
      }
      findVariableFeatures {
        method = "vst"
        nfeatures = 1000
      }
      findClusters {
        algorithm = 1
        resolution = 0.8
      }
      findNeighbors {
        dims = 50
        centers = 20
      }
      pca: {
        pcsCompute: 20
      }
      tsne: {
        dims: 50
      }
    }
    output {
      folder = "/home/sravisha/fuser/nextflow/HGMLLDRXX/"
    }
}   