params {

    input {
      cds_path = "/home/sravisha/fuser/nextflow/HGMLLDRXX/Preprocess/CDS"
      sample_list = ['008_216_PBMC']
      num_cores = 2
    }
    seurat {
      normalize {
        method = ["LogNormalize", "CLR", "RC"]
      }
      variable {
        method = "vst" //["vst", "mvp", "disp"]
        nfeatures = [1000, 2000, 3000]
      }
      neighbors {
        dims = [10, 50, 100]
        centers = [10, 20, 30, 40]
      }
      cluster {
        algorithm = [1, 2, 3, 4]
        resolution = [0.25, 0.5, 0.8]
      }
    }
    output {
      folder = "/home/sravisha/fuser/nextflow/HGMLLDRXX/"
    }
}   