params {

    input {
      type = "RDS"
      exp = "s3://vis.fredhutch.singlecell.pipeline/data/exp.rds"
      col = "s3://vis.fredhutch.singlecell.pipeline/data/col.rds"
      row = "s3://vis.fredhutch.singlecell.pipeline/data/row.rds"
    }

    output {
      folder = "/Users/zager/Documents/Projects/dv/dv-cambiagrove/Pipeline/nextflow/out/optimize"
      //folder = "s3://vis.fredhutch.singlecell.pipeline/data/results"
    }
    

    seurat {
      
      filter_cells { 
        subset_names = ['nGene', 'nUMI']
        low_threshold = [-10000000]
        high_threshold = [100000000]
        cells_use = ['True']
      }
      
      normalize {
        assay_type = ['RNA']
        normalization_method = ['LogNormalize']
        scale_factor = [1000]
      }

      variable_genes {
        mean_function = ["ExpMean"]
        dispersion_function = ["LogVMR"]
        fvg_x_low_cutoff = [0.1]
        fvg_y_low_cutoff = [8]
        fvg_x_high_cutoff = [1]
        fvg_y_high_cutoff = ["Inf"]
      }

      scale_data {
        genes_use = "NULL"
        vars_to_regress = "NULL"
        model_use = ["linear"]   // ['linear', 'poisson', 'negbinom]
        use_umi = "NULL"  // Check With Hannah
        do_scale = "FALSE"
        do_center = "FALSE"
        scale_max = [10]
        block_size = [1000]
        min_cells_to_block = [1000]
        assay_type = ["RNA"]
        check_for_norm = "FALSE"
      }

      pca {
        pc_genes = "NULL"
        pcs_compute = [20]
        use_imputed = ["FALSE"]
      }

      tsne {
        reduction_use = ["PCA"]   // ["PCA". "ICA"]
        cells_use = "NULL"
        dims_use = "NULL"
        genes_use = "NULL"
        do_fast = ["TRUE"]
      }
      
    }

}