params {

    input {
      type = "RDS"
      exp = "s3://vis.fredhutch.singlecell.pipeline/data/exp.rds"
      col = "s3://vis.fredhutch.singlecell.pipeline/data/col.rds"
      row = "s3://vis.fredhutch.singlecell.pipeline/data/row.rds"
    }

    output {
      folder = "/Users/zager/Documents/Projects/dv/dv-cambiagrove/Pipeline/nextflow/out/optimize"
      //folder = "s3://vis.fredhutch.singlecell.pipeline/data/results"
    }
    
    monocle3 {

      preprocess {
        method = ['PCA']        // ['PCA', 'LSI']
        num_dim = [5,25,50]     // [5, 10, 20, 50]
        norm_method = ['log']   // ['log', 'size_only']
        use_genes = 'NULL'
        residual_model_formula_str = 'NULL'
        pseudo_count = [1.0]
      }
      reduce_dim {
        max_components = [2,3]    // [2, 3]
        steps = ['PCA-UMAP']
      }
      cluster {
        resolution = "NULL"
        k = [20]
        louvain_iter = [1]
        partition_qval = [0.05]
        weight = ["FALSE"]
      }
      partition {
        reduction_method = ['UMAP']
        knn = [20]
        weight = "NULL"
        louvain_iter = [1]
        resolution = "NULL"
        partition_qval = [0.05]
      }
      learn_graph {
        no_partition = "NULL"
        no_close_loop = "NULL"
        euclidean_distance_ratio = [1]
        geodesic_distance_ratio = [0.333]
        no_prune_graph = "NULL"
        minimal_branch_len = [10]
        orthogonal_proj_tip = "NULL"
      }
      order_cells {
        reduction_method = ["UMAP"]
        root_pr_nodes = "NULL"
        root_cells = "NULL" 
        cell_phenotype = ["cao_cell_type"]  // cao_tissue or other columns by calling pData(cds) in R
      }
      diff_exp {
        neighbor_graph = ["principal_graph"]
        reduction_method = "UMAP"
        knn = [25]
        method = "Moran_I"
        alternative = ["greater"]     // ["greater", "less", "two.sided"]
      }
    }
}