params {

    input {
      cds_path = "/home/sravisha/fuser/nextflow/ZhengSorted_10X/Preprocess/CDS"
      study_name = "ZhengSorted"
    }
    monocle {
      preprocess {
        num_dim = 50 //[10, 50, 100] 
        norm_method = "log" //["log", "size_only"]
        reduction_method = "PCA" 
      }
      aligncds {
        num_dim = 50
        alignment_group = "sample"
        preprocess_method = "PCA" //must be same as reduction method 
      }
      reducedims{
        reduction_method = "UMAP" //["UMAP", "tSNE", "PCA"]
      }
      clustercells{
        clustering_method = ["leiden", "louvain"]
        cluster_number = 15 //[10, 20, 30, 40]
      }
    }
    seurat {
      normalize {
        method = "LogNormalize" //["LogNormalize", "CLR", "RC"]
      }
      variable {
        method = "vst" //["vst", "mvp", "disp"]
        nfeatures = 2000 //[1000, 2000, 3000]
      }
      neighbors {
        dims = 50 //[10, 50, 100]
        centers = 15 //[10, 20, 30, 40]
      }
      cluster {
        algorithm = 2 //[1, 2, 3, 4]
        resolution = 0.8 //[0.25, 0.5, 0.8]
      }
    }
    scanpy {
      variable {
        nfeatures = 2000 //[1000, 2000, 3000]
      }
      pca {
        dims = 50 //[10, 50, 100]
      }
      neighbors {
        centers = 15 //[10, 20, 30, 40]
        method = 'umap' //['umap', 'gauss']
      }
      cluster {
        resolution = 0.8 //[0.25, 0.5, 0.8]
      }
    }
    osca {
      abinitio {
        nsample = 'FALSE'
        nfeatures = 2000 //[1000, 2000, 3000]
        centers = 15 //[10, 20, 30 ,40]
        clustering_method = 'leiden' // ['leiden', 'louvain']
        reduction_method = 'UMAP' // ['UMAP', 'tSNE']
      }
      priori {
        nsample = 'FALSE'
        centers = 15 //[10, 20, 30, 40]
      }
      umap {
        nsample = 'FALSE'
        centers = [10, 20, 30, 40]
        neighbors = [10, 20, 30 ]
      }

    }
    output {
      folder = "/home/sravisha/fuser/nextflow/ZhengSorted_10X/"
    }

}
