params {

    input {
      type = "RDS"
      exp = "s3://vis.fredhutch.singlecell.pipeline/data/exp.rds"
      col = "s3://vis.fredhutch.singlecell.pipeline/data/col.rds"
      row = "s3://vis.fredhutch.singlecell.pipeline/data/row.rds"
    }

    output {
      folder = "/Users/zager/Documents/Projects/dv/dv-cambiagrove/Pipeline/nextflow/out/optimize"
      //folder = "s3://vis.fredhutch.singlecell.pipeline/data/results"
    }

}