params {

    input {
      count_dir = "/home/sravisha/fuser/nextflow/HGMLLDRXX/Counts/"
      vdj_dir = "/home/sravisha/fuser/nextflow/HGMLLDRXX/VDJ/"

      sample_list = ['008_216_CD4', '008_216_CD8', '008_216_PBMC', '008_217_CD4', '008_217_CD8', '008_217_PBMC_KS_', '008_220_CD4', '008_220_CD8', '008_220_PBMC']
    }
    preprocess {
      nmads = 3 
    }
    processmeta {
      vdj = true   
      gex_metadata = "/home/sravisha/fuser/nextflow/HGMLLDRXX/Metadata/HGMLLDRXX_GEX_h5_samplesheet.csv"
      vdj_metadata = "/home/sravisha/fuser/nextflow/HGMLLDRXX/Metadata/HGMLLDRXX_VDJ_analysis_samplesheet.csv"
    }
    output {
      folder = "/home/sravisha/fuser/nextflow/HGMLLDRXX/"
    }

}
