params {

    input {
      fastq_path = '/home/sravisha/fuser/NPC/Pilot/'
    }

    output {
      folder = "/fh/fast/warren_h/users/sravisha/nextflow/mixcr/Pilot"
    }

    analyze {
      species = 'hs'
      starting_material = 'dna'
      five_end = 'v-primers'
      three_end = 'j-primers'
      adapters = 'no-adapters'
      receptor = 'trb'
    }
}
