params {

    input {
      metadata = '/home/sravisha/fngs/tenX/KSPBMC_10Xv3/Metadata/KSPBMC_10Xv3_metadata.csv'
      gex_reference = '/home/sravisha/fngs/ReferenceGenomes/Human_genomes/refdata-cellranger-hg19-3.0.0'
      vdj_reference = '/home/sravisha/fngs/ReferenceGenomes/Human_genomes/refdata-cellranger-vdj-GRCh38-alts-ensembl-3.1.0'
      fastq_paths = '/fh/fast/warren_h/SR/ngs/illumina/atowlert/191031_A00613_0066_BHGMLLDRXX/cellranger/mkfastq/HGMLLDRXX/outs/fastq_path'
      study_id = 'HGMLLDRXX'
      gex = 1
      vdj = 1
    }

    output {
      folder = "/fh/fast/warren_h/users/sravisha/nextflow/HGMLLDRXX"
    }

    count {
      fastq_type = 'mkfastq'
      cellcount = 10000
      chemistry = "fiveprime"
    }

    aggr {
      modes = 'mapped' //['mapped', 'none']
    }
}
