params {
    input {
      metadata = '/home/sravisha/fngs/tenX/ZhengSorted_10X/Metadata/ZhengSorted_metadata.csv'
      gex_reference = '/home/sravisha/fngs/ReferenceGenomes/Human_genomes/refdata-cellranger-GRCh38-3.0.0'
      vdj_reference = '/home/sravisha/fngs/ReferenceGenomes/Human_genomes/refdata-cellranger-vdj-GRCh38-alts-ensembl-3.1.0'
      gex_fastq_path = '/home/sravisha/fngs/tenX/ZhengSorted_10X/Fastq'
      vdj_fastq_path = false
      study_id = 'ZhengSorted_10X'
      gex = true
      vdj = false
    }
    output {
      folder = "/fh/fast/warren_h/users/sravisha/nextflow/ZhengSorted_10X"
    }
    count {
      fastq_type = 'demux' //['mkfastq', 'demux']
    }
    aggr {
      modes = "mapped" //['mapped', 'none']
    }
}
