params {

    input {
      metadata = '/fh/fast/warren_h/users/sravisha/cellTypeClassification/data/rawData/ZhengSorted_10X/Metadata/ZhengSorted_metadata.csv'
      gex_reference = '/home/sravisha/fngs/ReferenceGenomes/Human_genomes/refdata-cellranger-hg19-3.0.0'
      vdj_reference = '/shared/silo_researcher/Warren_E/ngs/ReferenceGenomes/Human_genomes/refdata-cellranger-vdj-GRCh38-alts-ensembl-3.1.0'
      fastq_paths = '/fh/fast/warren_h/users/sravisha/cellTypeClassification/data/rawData/ZhengSorted_10X/Fastq'
      study_id = 'ZhengSorted_10X'
      gex = 1
      vdj = 0
    }

    output {
      folder = "/fh/fast/warren_h/users/sravisha/nextflow/ZhengSorted_10X"
    }

    count {
      fastq_type = 'demux' //['mkfastq', 'demux']
      cellcount = 3000
      chemistry = "fiveprime" //['fiveprime', 'threeprime']
    }

    aggr {
      modes = ['mapped', 'none']
    }
}
