params {

    input {
      cdspath = "/fh/fast/warren_h/users/sravisha/kstme/reanalysis/Public_trb_cluster.rds"
      study_id = 'HGMLLDRXX_Public_trb'
    }

    output {
      folder = "/fh/fast/warren_h/users/sravisha/nextflow/Public_trb"
    }

    model {
      formula = ['~cluster', '~cluster + public_trb', '~cluster + public_trb + hiv_status', '~public_trb * hiv_status', '~public_trb + hiv_status', '~public_trb', '~hiv_status', '~cluster + sample']
      formula_name = ['c', 'cPp', 'cPpPh', 'pTh', 'pPh', 'p', 'h', 'cPn']
    }
}
