params {

    input {
      count_dir = "/fh/fast/warren_h/users/sravisha/nextflow/HGMLLDRXX/Counts/"
      sample_list = ['008_216_CD4', '008_216_CD8', '008_216_PBMC', '008_217_CD4', '008_217_CD8', '008_217_PBMC_KS_', '008_220_CD4', '008_220_CD8', '008_220_PBMC']
    }

    preprocess {
      nmads = 3 //[3, 4, 5]
    }
    output {
      folder = "/fh/fast/warren_h/users/sravisha/nextflow/HGMLLDRXX"
    }

}
