params {

    input {
      count_dir = "/home/sravisha/fuser/nextflow/ZhengSorted_10X/Counts/"
      vdj_dir = false
      sample_list = ['S1_Bcells', 'S1_CytotoxicTCells', 'S1_HelperTCells', 'S1_MemoryTCells', 'S1_Monocytes', 'S1_NaiveCytotoxicTCells', 'S1_NaiveTCells', 'S1_NKCells', 'S1_Progenitor', 'S1_RegulatoryTCells']
    }
    preprocess {
      nmads = 3 
    }
    processmeta {
      vdj = false   
      gex_metadata = "/home/sravisha/fuser/nextflow/ZhengSorted_10X/Metadata/GEX_h5_samplesheet.csv"
      vdj_metadata = false
    }
    output {
      folder = "/home/sravisha/fuser/nextflow/ZhengSorted_10X/"
    }

}
