process.executor = 'awsbatch'
process.queue = 'arn:aws:batch:us-west-2:561666204077:job-queue/fh-nf-batch-queue'
process.container = '561666204077.dkr.ecr.us-west-2.amazonaws.com/childnode'
process.workdir = "s3://dvc-wf-scratch"
process.scratch = '/opt/work'
process.memory = "96GB"
process.cpus = 8
aws.batch.jobRole = "arn:aws:iam::561666204077:role/fh-nf-jd-role"
aws.region = 'us-west-2'
params.awsqueue = 'arn:aws:batch:us-west-2:561666204077:job-queue/fh-nf-batch-queue'
params.awsregion = 'us-west-2'
workDir = "s3://dvc-wf-scratch"